#main {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 225px 225px 225px;
    grid-template-areas:
    "top-left top-center top-right"
    "middle-left middle-center middle-right"
    "bottom-left bottom-center bottom-right";
}

body {
    margin: 5px;
    background-color: #22223b;
    font-size:28px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

#top-left {
    grid-area: top-left;
    background-color: #4a4e69;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;

}

#top-center {
    grid-area: top-center;
    background-color: #4a4e69;
    text-align: left;
    background-image: url('https://github.com/tanaym42/tanaym42.github.io/blob/main/Images/Screen%20Shot%202022-10-15%20at%2016.21.51.png?raw=true');
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 10px;

}

#top-right {
    grid-area: top-right;
    background-color: #4a4e69;
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-image: url('https://github.com/tanaym42/tanaym42.github.io/blob/main/Images/Screen%20Shot%202022-10-15%20at%2013.32.35.png?raw=true');
    background-size: cover;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;
}


#middle-left {
    grid-area: middle-left;
    background-color: #4a4e69;
    text-align: left;
    background-image: url('https://github.com/tanaym42/tanaym42.github.io/blob/main/Images/Screen%20Shot%202022-10-15%20at%2013.32.35.png?raw=true');
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;

}

#middle-center {
    grid-area: middle-center;
    background-color: #4a4e69;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;

}

#middle-right {
    grid-area: middle-right;
    background-color: #4a4e69;
    text-align: left;
    background-image: url('https://github.com/tanaym42/tanaym42.github.io/blob/main/Images/Screen%20Shot%202022-10-15%20at%2013.33.46.png?raw=true');
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;

}

#bottom-left {
    grid-area: bottom-left;
    background-color: #4a4e69;
    text-align: left;
    background-image: url('https://github.com/tanaym42/tanaym42.github.io/blob/main/Images/Screen%20Shot%202022-10-15%20at%2013.38.41.png?raw=true');
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;

}

#bottom-center {
    grid-area: bottom-center;
    background-color: #4a4e69;
    text-align: left;
    background-image: url('https://github.com/tanaym42/tanaym42.github.io/blob/main/Images/Screen%20Shot%202022-10-15%20at%2013.39.47.png?raw=true');
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;
}

#bottom-right {
    grid-area: bottom-right;
    background-color: #4a4e69;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border-color: white;
    border-width: 2px;

}

p{
    text-shadow: 0.5px 0.5px #c9ada7;
    color: #f2e9e4;
}

img {
    filter: grayscale(100%);
  }